* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../SRC/IMGS/LOGIN/background-image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Necessário para o pseudo-elemento */
}

body::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../SRC/IMGS/LOGIN/background-image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Coloca a imagem no fundo */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(115, 12, 12, 0.25); /* Vermelho com 40% de transparência */
    z-index: -1; /* Coloca a sobreposição atrás do conteúdo */
} 

header {
    background-color: rgba(255, 255, 255, 0.426);

    width: 100%;
    height: 7vh;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 3.5rem;
}

header #postarBotao:hover {
    cursor: pointer;
}

header .pesquisa {
    position: relative;

    display: flex;
    align-items: center;
    
    width: 70%;
    height: 100%;
}

header .pesquisa input {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 3rem;

    font-size: 1.5rem;
    font-weight: thin;

    background-color: rgba(52, 58, 64, 0.7);
    color: rgb(206, 206, 206);
}

header .pesquisa input::placeholder {
    color: rgb(206, 206, 206);
}

header .pesquisa input:focus {
    box-shadow: 0 0 0 1px rgb(206, 206, 206);
}

header .pesquisa img {
    position: absolute;
    right: 0;

    height: 3.5rem;
}

header .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header .usuario h1 {
    font-weight: 400;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

main .ocorrencias {
    margin-top: 2rem;
    width: 50%;
}

main .ocorrencias .ocorrencia {
    margin-bottom: 2rem;
    padding: 1rem;

    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: black;

    overflow-y: hidden;
    text-overflow: ellipsis;
}

main .ocorrencias .ocorrencia .headerOcorrencia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

    gap: 0.5rem;
}

main .ocorrencias .ocorrencia .headerOcorrencia .usuario {
    display: flex;
    align-items: center;
}

main .ocorrencias .ocorrencia .headerOcorrencia img {
    height: 3.5rem;
    margin-right: 0.5rem;
    filter: invert(1);
}

main .ocorrencias .ocorrencia .headerOcorrencia h1 {
    font-size: 1.2rem;
    font-weight: 200;

    color: white;
}

main .ocorrencias .ocorrencia .mainOcorrencia {
    height: 75%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(45, 45, 45);
}

main .ocorrencias .ocorrencia .mainOcorrencia img {
    height: 100%;
    overflow-x: hidden;
}

main .ocorrencias .ocorrencia .footerOcorrencia .icones {
    display: flex;
    align-items: center;
}

main .ocorrencias .ocorrencia .footerOcorrencia .icones img{
    height: 3rem;
    filter: invert(1);
}

main .ocorrencias .ocorrencia .footerOcorrencia .icones p {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 0.2rem;
}

main .ocorrencias .ocorrencia .footerOcorrencia .icones img:hover {
    cursor: pointer;
}

main .ocorrencias .ocorrencia .footerOcorrencia .descricao {
    height: 28%;
    width: 100%;
}

main .ocorrencias .ocorrencia .footerOcorrencia .descricao p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;

    height: auto;
    width: 100%;
}

main .ocorrencias .ocorrencia .footerOcorrencia .descricao span {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* número de linhas */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    color: white;
    font-size: 1.1rem;
    font-weight: 100;

    height: auto;
    width: 100%;
}

.containerComentarios {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    width: 80%;
    background-color: black;
    border: 4px solid white;

    display: flex;
}

.containerComentarios .containerFotoOcorrencia {
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.containerComentarios .containerFotoOcorrencia img {
    height: 100%;
}

.containerComentarios .containerLateralComentarios {
    background-color: black;
    width: 40%;
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerComentarios .containerLateralComentarios .dadosPost {
    width: 100%;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.containerComentarios .containerLateralComentarios .dadosPost .dadosUsuarioPost {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.containerComentarios .containerLateralComentarios .dadosPost .dadosUsuarioPost img{
    height: 50px;
    
    filter: invert(1);
}

.containerComentarios .containerLateralComentarios .dadosPost .dadosUsuarioPost h2{
    color: white;
    font-weight: 200;
}

.containerComentarios .containerLateralComentarios .dadosPost p {
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    width: 100%;
}

.containerComentarios .containerLateralComentarios hr {
    margin-bottom: 0.5rem;
}

.containerComentarios .containerLateralComentarios .containerComentariosPost {
    position: relative;
    flex-grow: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerComentarios .containerLateralComentarios .containerComentariosPost h6 {
    position: absolute;
    color: rgb(214, 214, 214);
    font-size: 1.5rem;

    display: flex;
    text-align: center;

    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.containerComentarios .containerLateralComentarios .containerComentariosPost .comentario {
    padding-right: 1rem;
}

.containerComentarios .containerLateralComentarios .containerComentariosPost .comentario .usuario {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.2rem;
}

.containerComentarios .containerLateralComentarios .containerComentariosPost .comentario .usuario img {
    height: 50px;
    filter: invert(1);
}

.containerComentarios .containerLateralComentarios .containerComentariosPost .comentario .usuario p {
    color: white;
    font-size: 1.2rem;
}

.containerComentarios .containerLateralComentarios .containerComentariosPost .comentario span {
    color: white;
    font-size: 1.5rem;
}

.containerComentarios .containerLateralComentarios .containerComentariosPost .comentario h4 {
    color: rgb(133, 133, 133);
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0.5rem;
}

.containerComentarios .containerLateralComentarios .containerComentariosPost h3 {
    color: white;
    font-size: 2rem;
}

.containerComentarios .containerLateralComentarios .footerTelaComentarios {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 1rem;
}

.containerComentarios .containerLateralComentarios .footerTelaComentarios img {
    filter: invert(1);
    height: 50px;
}

.containerComentarios .containerLateralComentarios .footerTelaComentarios .containerComentar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    flex-grow: 1;
}

.containerComentarios .containerLateralComentarios .footerTelaComentarios .containerComentar input {
    height: 100%;
    width: 100%;
    padding: 1rem;
    padding-right: 4rem;

    font-size: 1rem;
    color: white;
    
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.containerComentarios .containerLateralComentarios .footerTelaComentarios .containerComentar img {
    position: absolute;
    right: 0;
    height: 35px;
    padding-right: 0.5rem;
}

.containerComentarios .containerLateralComentarios .footerTelaComentarios .containerComentar img:hover {
    cursor: pointer;
}

.containerComentarios .botaoFecharComentario {
    position: absolute;
    right: 0;
    color: white;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.164);
    font-size: 2.5rem;
    font-weight: 200;
    padding: 0.5rem 1rem;
}

.containerComentarios .botaoFecharComentario:hover {
    cursor: pointer;
}

.blur {
    filter: blur(5px);
    pointer-events: none; /* evita interações enquanto estiver borrado */
    transition: filter 0.3s ease;
}