* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#botaoFeedOff {
    position: absolute;

    height: 2rem;
    margin: 1.5rem;

    margin-left: 4rem;

    z-index: 2;
}

#botaoFeedOff:hover {
    cursor: pointer;
}

.feed {
    transition: all 0.3s ease;

    z-index: 3;

    width: 30%;
    height: 100%;
    background-color: rgba(104, 98, 98, 0.842);
    color: rgb(255, 255, 255);

    display: block;
}

header {
    background-color: #a79d9d;
    width: 100%;
    height: 7%;
    padding: 0 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    cursor: pointer;
    
    color: black;
    font-size: 2.5rem;

    margin-bottom: 0.5rem;
}

header .pesquisa {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 0.5rem;
    height: 70%;
}

header .pesquisa input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
    padding-left: 1rem;

    font-size: 0.9rem;
    background-color: #585151;
    color: white;
}

header .pesquisa input::placeholder {
    color: #ccc;
}

header .pesquisa input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #aaa;
}

header img {
    height: 1.5rem;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header img:hover {
    cursor: pointer;
}

header .pesquisa img {
    position: absolute;
    right: 10px;
    height: 1.5rem;
    cursor: pointer;
}

.feed section {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 93%;
    overflow-y: scroll;
}

.ocorrencia {
    border-radius: 20px 20px 0px 0px;
    color: white;
    background-color: #444;
}

.ocorrencia .headerOcorrencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.ocorrencia .headerOcorrencia .usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ocorrencias .ocorrencia .headerOcorrencia .usuario img {
    height: 2.5rem;
    margin-right: 0.5rem;
}

.ocorrencia .headerOcorrencia .usuario h2 {
    margin-right: 0.5rem;
    font-weight: 300;
}


.ocorrencia .headerOcorrencia .enderecoOcorrencia h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.mainOcorrencia img {
    width: 100%;
    height: auto;
}

.footerOcorrencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem 0.5rem;
    color: white;
}

.footerOcorrencia .icones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footerOcorrencia .icones .iconesBotao {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.footerOcorrencia .icones img {
    height: 1.8rem;
    cursor: pointer;
}

.footerOcorrencia .icones .tags {
    display: flex;

    gap: 1rem;

    margin-right: 0rem;
}

.footerOcorrencia .icones .tags p {
    display: flex;
    gap: 1rem;
    margin-right: 0.5rem;

    color: #565656;
    background-color: white;
    padding: 0.4rem 1.5rem;
    border-radius: 20px;
}

.descricao {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.descricao p {
    font-weight: bold;
    font-size: 1.4rem;
}

.descricao span {
    font-size: 1rem;
    color: #ccc;
    
    display: -webkit-box;
    -webkit-line-clamp: 1; /* número de linhas */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#map {
    flex-grow: 1;
    height: 100%;

    z-index: 1;

    transition: width 0.3s ease;
}